# === Android / Gradle ===
.gradle/
local.properties

# Build outputs
build/
**/build/
captures/

# Android artifacts
*.apk
*.ap_
*.aab

# NDK / C++
.externalNativeBuild/
.cxx/

# === IDE (Android Studio / IntelliJ) ===
.idea/
*.iml
out/

# === Java / Kotlin chung ===
*.class
*.log
hs_err_pid*
replay_pid*
.kotlin/

# === Misc ===
.DS_Store
